a {
  /* text-emphasis: none; */
  text-decoration: none;
  color: #707070;
}

.container__top-bar--manage {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 212, 224, 0.77);
  width: 100%;
  height: 4rem;
}

.top-bar__logo--manage {
  width: auto;
  height: auto;
  font-family: Montserrat;
  font-size: 1.313rem;
  font-weight: bold;
  color: white;
  opacity: 1;
}

.container--manage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.create {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.create__btn {
  width: 100%;
  height: 95%;
  border-radius: 6px;
  border: solid 1px #ccd4e0;
  background-color: #f1f3f6;
  font-size: 1.12rem;
  color: #707070;
  font-family: NotoSansCJKKR;
}

.container__content--manage {
  width: 92%;
  height: 80%;

  /* border: 1px solid black; */
}
.content--manage {
  /* 원래 : margin: auto auto; */
  margin: auto auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* background-color: rgba(233, 21, 224, 0.13); */

  /* border: 2px solid blueviolet; */
}

.content__notice--manage {
  width: 70%;
  height: 100%; /*이상하면 이거 수정*/

  /* border: 1px solid blue; */
}
.notice--manage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.notice__information--manage {
  display: flex;
  flex-direction: row;
  /* width: 279px;  */
  width: auto;
  /* height: 49px; */
  height: auto;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
  border: solid 1px #ccd4e0;
}

.information__text--manage {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;

  font-size: 1rem;
  color: #adadad;
}
.information__icon--manage {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 6px;
  color: #adadad;
  margin-left: 0.5rem;
}

.notice__select {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  /* border: solid 1px red; */
}
.select__table__btn {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.select__table {
  width: 84%;
  height: 100%;
  /* height: 20%; */
  border: solid 1px rgb(204, 212, 224);
  color: #adadad;
}
.select__table thead {
  background-color: rgb(204, 212, 224, 0.2);
}
.select__table th,
td {
  padding: 0.8rem 0.3rem;
  border: none;
}
.select__table th {
  font-family: NotoSansCJKKR;
  font-size: 1rem;
  font-weight: 500;
  color: adadad;
}

.select__table td {
  font-family: NotoSansCJKKR;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  border-top: 1px solid #ccd4e0;
}
.select__table th:nth-child(1) {
  width: 1rem;
}

.select__table th:nth-child(2) {
  width: 55%;
}
.select__table th:nth-child(3) {
  min-width: 4rem;
}
.select__table th:nth-child(4) {
  min-width: 4rem;
}
.select__table td:nth-child(2) {
  max-width: 100px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.select__table td {
  text-align: center;
}

.select__btn {
  margin-left: 1px;
  width: 12%;
  height: 100%;
  color: #959595;
  font-size: 1.2rem;
}

.update__btn {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-sizing: border-box;
  border: solid 1px #ccd4e0;
  background-color: #f1f3f6;
}

.delete__btn {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 3px;
  border: solid 1px #ccd4e0;
  background-color: #f1f3f6;
  cursor: pointer;
}

/* ///////////////////////////listtable//////////// */

.notice__list--manage {
  margin-top: 10px;
  width: 100%;
  height: 95%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.notice__list--button {
  display: flex;
  width: 100%;
  height: 6%;
  /* border-radius: 6px;
  border: solid 1px #ccd4e0; */
  margin-bottom: 10px;
  justify-content: flex-end;
}
.notice__table--manage {
  width: 100%;
  border-spacing: 0;
  border-top: solid #ccd4e0 2px;
}

.notice__table--manage th,
td {
  padding: 0.8rem 0.3rem;
  border: none;
}
.notice__table--manage th {
  background-color: #f1f3f6;
  font-family: NotoSansCJKKR;
  font-size: 1rem;
  font-weight: 500;
  color: #707070;
}

.notice__table--manage td {
  font-family: NotoSansCJKKR;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #707070;
  border-bottom: solid #ccd4e0 1px;
}
.notice__table--manage th:nth-child(1) {
  width: 1rem;
}

.notice__table--manage th:nth-child(2) {
  width: 55%;
}

.notice__table--manage td:nth-child(2) {
  max-width: 100px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.notice__table--manage th:nth-child(3),
.notice__table--manage th:nth-child(4) {
  min-width: 5rem;
}
.notice__table--manage th:nth-child(5) {
  min-width: 3rem;
}
.notice__table--manage td {
  text-align: center;
}

.notice__table--paging {
  height: 40px;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.pagination--notice {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

ul.pagination--notice li {
  display: flex;
  padding: 4px 10px;
  color: #707070;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
ul.pagination--notice li:hover {
  background-color: #ccd4e0;
  color: #fff;
}

/* ///////////////////////////////menu content///////// */

.menu--manage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.content__menu--manage {
  width: 30%;
  height: 100%;
  margin-top: 40px;
  margin-left: 20px;
}

.menu__nav--manage {
  width: 99%;
  height: auto;
  margin-left: 15px;
  /* border: 1px solid red; */
}

.menu__info--manage {
  width: 95%;
  height: 25%;
}

.nav--manage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.nav__title--manage {
  width: 100%;
  font-family: NotoSansCJKKR;
  font-size: 1.125rem;
  font-weight: bold;
  color: #707070;
  text-align: left;
  margin-bottom: 12px;
}

.nav__btn--manage {
  width: 95%;
  position: relative;
  padding: 1rem;
  border: solid 1px #ccd4e0;
  font-family: NotoSansCJKKR;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #707070;
  box-sizing: border-box;
  white-space: nowrap;
  background-color: #f1f3f6;
}

.info--manage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

.info__title--manage {
  width: 90%;
  font-family: NotoSansCJKKR;
  font-size: 1.125rem;
  font-weight: bold;
  color: #707070;
  text-align: left;
  margin-bottom: 1rem;
}
.info__card--manage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.info__card--key--manage {
  width: 5rem;
  height: auto;
  background-color: #ccd4e0;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  box-sizing: content-box;
}

.info__card--value--manage {
  width: 100%;
  height: auto;
  background-color: #f1f3f6;
  color: #707070;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 8px;
  padding-left: 15px;
  box-sizing: content-box;
  cursor: pointer;
}

.menu__make--manage {
  width: 95%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.make--manage {
  border-radius: 6px;
  border: solid 1px #ccd4e0;
  background-color: #f1f3f6;
  font-size: 1.12rem;
  color: #707070;
}

/* 반응형 */

@media screen and (max-width: 1024px) {
  html,
  body {
    font-size: 14px;
  }

  .container__content--manage {
    width: 92%;
    height: 80%;
  }

  .nav--manage {
    height: auto;
  }

  .information__text--manage {
    font-size: 0.75rem;
  }

  .nav__btn--manage {
    width: 90%;
    padding: 0.5rem 0.3rem 0.5rem 0.2rem;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 12px;
  }

  .container__content--manage {
    width: 100%;
    height: 90%;
  }

  .content--manage {
    margin: auto auto;
    flex-direction: column;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  .content__menu--manage {
    margin-left: 5%;
  }
  .notice--manage {
    margin-top: 1rem;
  }
  .notice__information--manage {
    width: 96%;
    justify-content: center;
    align-items: center;
  }

  .notice__list--manage {
    width: 100%;
  }

  .content__menu--manage {
    width: 80%;
    height: 20%;
    min-height: 12rem;
  }

  .menu--manage {
    flex-direction: row;
    align-items: flex-start;
  }

  .menu__nav--manage {
    width: 50%;
    height: auto;
    margin-left: 20px;
  }
  .nav--manage {
    align-items: flex-start;
  }
  .nav__title--manage {
    width: 90%;
    margin: 2rem 0 1rem 0;
  }
  .nav__btn--manage {
    width: 90%;
    padding: 0.3rem 0.2rem 0.3rem 0.2rem;
  }

  .menu__info--manage {
    width: 50%;
    height: auto;
    display: none;
  }

  .menu--manage {
    margin-top: 0;
    align-items: center;
  }
  .info__card--manage {
    width: 85%;
  }
  .menu__make--manage {
    width: 35%;
    height: 52%;
    margin-top: 4.5rem;
  }
}

@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 10px;
  }

  .container__content--manage {
    width: 100%;
    height: 90%;
  }

  .content--manage {
    margin: auto auto;
  }
  .content__notice--manage {
    width: 95%;
  }

  .select__table th:nth-child(3) {
    min-inline-size: 4rem;
  }
  .select__table th:nth-child(4) {
    min-inline-size: 4rem;
  }
  /* .notice__information {
    display: none;
  } */

  .notice__list--manage {
    width: 100%;
  }
  .notice__table--manage th:nth-child(2) {
    width: 80%;
  }

  .notice__table--manage th:nth-child(3) {
    min-width: 2rem;
  }

  .notice__table--manage th:nth-child(4) {
    display: none;
  }

  .notice__table--manage td:nth-child(4) {
    display: none;
  }
  .notice__table--manage th:nth-child(5) {
    display: none;
  }
  .notice__table--manage td:nth-child(5) {
    display: none;
  }

  .content__menu--manage {
    width: 90%;
    margin-left: 0;
  }

  .menu__nav--manage,
  .menu__info--manage {
    display: none;
  }
  .menu__make--manage {
    width: 100%;
    margin-top: 1rem;
  }
  .notice__table--paging {
    margin-bottom: 3rem;
  }
}
