.container_Ran {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.containerRan__content {
  width: 75%;
  height: 80%;

  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
