body, html {
  padding:0;
  margin:0;
  height: 100%;
  width: 100%;
  font-size:16px;
}

.container{
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
}

.top__bar__wrapper{
  position: absolute;
  width: 100%;
  height: 4rem;
  background-color:rgba(0,0,0,0);
}

.top__bar{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(0,0,0,0.18);
}
.top__bar__bar{
  display:none;
  position: absolute;
  color: white;
  left: 1.2rem;
  top: 1.4rem;
  font-size: 1.2rem;
  opacity: 0;
}



.top__bar__logo{
  width: auto;
  height: auto;
  font-family: Montserrat;
  font-size: 1.313rem;
  font-weight: bold;
  color: white;
  opacity: 1;
}

.main__image__wrapper{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: url("./img/main-img.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

.main__image{
  width: 100%;
  height: auto;
}

.content__wrapper{
  width: 75%;
  height: 50%;
  margin: auto auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content__notice__wrapper{
  width: 80%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__notice__title{
  width: 80%;
  font-family: NotoSansCJKKR;
  font-size: 1.25rem;
  font-weight: bold;
  color: #707070;
  text-align: left;
}

.content__notice__list{
  margin-top: 20px;
  width: 80%;
  height:95%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content__notice__table{
  width: 100%;
  border-spacing: 0;
  border-top: solid #ccd4e0 2px;
}

.content__notice__table th,td{
  padding: 0.8rem 0.3rem;  
  border: none;
}
.content__notice__table th{
  background-color: #f1f3f6;
  font-family: NotoSansCJKKR;
  font-size: 1rem;
  font-weight: 500;
  color: #707070;
}

.content__notice__table td{
  font-family: NotoSansCJKKR;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #707070;
  border-bottom: solid #ccd4e0 1px;
}
.content__notice__table th:nth-child(1){
  width: 1rem;
}

.content__notice__table th:nth-child(2){
  width: 55%;
}

.content__notice__table td:nth-child(2){
  max-width: 100px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.content__notice__table td{
  text-align: center;
}

.content__menu__wrapper{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content__nav__wrapper{
  width: 90%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  

}

.content__nav__title{
  width: 70%;
  font-family: NotoSansCJKKR;
  font-size: 1.25rem;
  font-weight: bold;
  color: #707070;
  text-align: left;
  margin-bottom: 10px;
}

.content__nav__btn{
  width: 70%;
  position: relative;
  padding: 1rem;
  border-bottom: solid 2px #ccd4e0;
  font-family: NotoSansCJKKR;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #707070;
  box-sizing: border-box;
  white-space: nowrap;
}
.content__nav__btn::before{
  content: "|";
  position: absolute;
  left: -0.2%;
  color: #ccd4e0;

}

.content__info__wrapper{
  width: 90%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

.content__info__title{
  width: 90%;
  font-family: NotoSansCJKKR;
  font-size: 1.25rem;
  font-weight: bold;
  color: #707070;
  text-align: left;
  margin-bottom: 1rem;
}
.content__info__card {
  width:16rem;
  height: auto;
  display: flex;
  flex-direction: row;
  
}

.content__info__card--key{
  width: 5rem;
  height: auto;
  background-color: #ccd4e0;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  1rem 0.5rem;
  box-sizing: content-box;
  
}

.content__info__card--value{
  width: 11rem;
  height: auto;
  background-color: #f1f3f6;
  color: #707070;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 8px;
  padding-left: 15px;
  box-sizing: content-box;

}


@media screen and (max-width: 1024px) { 
  html,body{
      font-size:14px;
  }

  .content__wrapper{
      width: 90%;
      height: 60%;
  }

  .content__nav__wrapper{
      height: auto;
  }

}

@media screen and (max-width: 768px) { 
  html,body{
      font-size:12px;
  }


  .content__wrapper{
      width: 100%;
      height: 60%;
      margin: auto auto;
      flex-direction: column;
      flex-flow: column-reverse;
  }

  .content__notice__title{
      width: 100%;
  }

  .content__notice__list{
      width: 100%;
  }

  .content__menu__wrapper{
      width: 80%;
      height: 50%;
      flex-direction: row;
      
  }

  .content__nav__wrapper{
      width: 50%;
      height: 100%;
      align-items: flex-start;
  }
  .content__nav__title{
      width: 90%;
  }
  .content__nav__btn{
      width: 90%;
  }

  .content__info__wrapper{
      width: 50%;
      height: 100%;
      margin-top:0;
      align-items: center;
      
  }

  
}

@media screen and (max-width: 480px) { 
  html,body{
      font-size:10px;
  }

  .main__image__wrapper{
      height: 22%;
  }

  .content__wrapper{
      width: 100%;
      height: 70%;
      margin: auto auto;
  }

  .content__notice__title{
      width: 100%;
  }

  .content__notice__list{
      width: 100%;
  }
  .content__notice__table th:nth-child(2){
      width: 80%;
  }
  
  .content__notice__table th:nth-child(4){
      min-width: 2rem;
  }

  .content__notice__table th:nth-child(3){
      display: none;
  }

  .content__notice__table td:nth-child(3){
      display: none;
  }
  .content__notice__table th:nth-child(5){
      display: none;
  }
  .content__notice__table td:nth-child(5){
      display: none;
  }

  .content__menu__wrapper{
      display: none;
  }
  .top__bar__bar{
      opacity: 1;
  }
}







