body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-family: NotoSansCJKKR;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.senior__top-bar {
    position: relative;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccd4e0;
}


.top-bar__logo {
    width: auto;
    height: auto;
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    opacity: 1;
}
.logo-to-home {
    color: white;
  }

.content {
    display: flex;
    width: 80%;
    height: 100%;
    margin-top: 5rem;
}
.volunteer-view {
    width: 50%;
    height: 100%;
}
.select-region__dropdown {
    float:left;
    width: 40%;
    height: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    color: #adadad;
    border-color: #ccd4e0;
    background-color: #f1f3f6;
    padding-left:10px;
    margin-bottom: 10px;
}

.table-view, .modal-table-view{
    width:100%;
    text-align: center;
    border-spacing: 0;
    border-top: solid #ccd4e0 2px;
}

.table-view th, td {
    padding: 0.8rem 0.3rem;
    border: none;
}
.table-view th {
    background-color: #f1f3f6;
    font-size: 1rem;
    font-weight: 500;
    color: #707070;
}
.table-view td {
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    color: #707070;
    border-bottom: solid #ccd4e0 1px;
    
}
.table-view__title{
    background-color: #f1f3f6;
}
.primaryKey {
    cursor: pointer;
}
#hiddenField {
    display: none;
}

/*=============pagination====================*/
.pagination {
    margin-top: 3rem;
    padding: 0;
    justify-content: center;
    position: fixed;
    top: 40rem;
}
.page-item {
    display: inline;
    list-style-type: none;
}
.page-link {
    display:inline;
    width: 1rem;
    font-size: 20px;
    text-decoration: none;
    margin:0;
    padding: 0.5rem 1rem;
    border: 1px solid #ccd4e0;
    color: #adadad;
}
.page-link:active{
    background-color: #707070;
}

/*=============pagination====================*/

.admin-view {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 37px;
}
.name-text, .date-text, .phone-text {
    display: none;
}

.input {
    display: grid;
    width: 90%;
    background-color: #f1f3f6;
}
.item {
    height: 4rem;
    border: 1px #ccd4e0 solid;
    justify-content: center;
    align-items: center;
    display: flex;
}
.item:nth-child(1) { grid-column: auto / span 2;}
.item:nth-child(3) { grid-column: auto / span 3;}
.item:nth-child(5) { grid-column: auto / span 2;}


.gender-radio span {
    vertical-align: -2px;
}
.gender-radio input[type="radio"]{
    display:none;
  }

.gender-radio input[type="radio"] + span{
    display:flex;
    justify-content: center;
    align-items: center;
    background:none;
    border:1px solid #dfdfdf;    
    padding:0px 10px;
    height:2rem;
    line-height:33px;
    font-weight:500;
    cursor:pointer;
}

.gender-radio input[type="radio"]:checked + span{
    border:1px solid #c2c9d4;
    background:#c2c9d4;
    color:#fff;
}
.volunteerType {
    -ms-transform: scale(1.4); /* IE */
    -moz-transform: scale(1.4); /* FF */
    -webkit-transform: scale(1.4); /* Safari and Chrome */
    -o-transform: scale(1.4); /* Opera */
    transform: scale(1.4);
    margin-left: 10px;
    margin-right: 10px;
}
.phone {
    width: 2.3rem;
}
.confirm {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 5%;
}
.confirm__button {
    width: 90%;
    height: 2.5rem;
    font-size: 1.5rem;
    margin-top: 1%;
    margin-bottom: 5%;
    color: #707070;
    border: 1px solid #ccd4e0;
    background-color: #f1f3f6;
}
.edit__button, .delete__button {
    float: left;
    width: 50%;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 0;
    color: #707070;
    border: 1px solid #ccd4e0;
    background-color: #f1f3f6;
}
.delete__button{
    margin-left: 0.5rem;
}
.function {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.select-function {
    width: 29.5%;
    height: 3rem;
    background-color: #ccd4e0;
    border: 0;
    font-size: 1.5rem;
    color: #707070;
  }
.select-function:nth-child(3){
    margin-left: 4px;
    margin-right: 4px;
}
.select-region {
    width: 95%;
    height: 2.3rem;
    font-size: 1rem;
    border-radius: 5px;
    color: #707070;
    border: 1px solid #ccd4e0;
    background-color: #f1f3f6;
    padding-left: 3px;
    padding-right: 15px;
}
.detail-address {
    width: 90%;
    height: 2.3rem;
    font-size: 1rem;
    border-radius: 5px;
    color: #707070;
    border: 1px solid #ccd4e0;
    background-color: #f1f3f6;
}
.form__name {
    width: 40%;
    height: 2.2rem;
    margin-right: 5%;
    border-radius: 5px;
    color: #707070;
    border: 1px solid #ccd4e0;
    background-color: #f1f3f6;
}
.form__order {
    margin-left: 5px;
    width: 20%;
    height: 2.2rem;
    margin-right: 2%;
    border-radius: 5px;
    color: #707070;
    border: 1px solid #ccd4e0;
    background-color: #f1f3f6;
}
.form__date {
    width: 35%;
    height: 2.2rem;
    margin-right: 2%;
    font-size: 1.2rem;
    border-radius: 5px;
    color: #707070;
    border: 1px solid #ccd4e0;
    background-color: #f1f3f6;
}
.form__phone {
    margin-right: 5px;
    width: 35%;
    height: 2.2rem;
    border-radius: 5px;
    color: #707070;
    border: 1px solid #ccd4e0;
    background-color: #f1f3f6;
}
#selectedFile {
    display:none;
}

/* 가이드 버튼 */
.guide__button {
    margin-top: 10px;
    width: 90%;
    height: auto;
}
.nav__btn {
  width: 90%;
  padding: 0.8rem;
  border-radius: 2px;
  border-bottom: solid 1px #ccd4e0;
  font-family: NotoSansCJKKR;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #707070;
  background-color: #f1f3f6;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}
/*==================Modal 아웃풋====================*/

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}   /*배경에 픽스를 주고 투명도를 준다. */
    .PreviewModal {
      width: 480px;
      height: 621px;
      background-color: white;
      position: relative;
      box-sizing: border-box;
      margin: 50px auto;
      padding: 20px;
      background: #fff;
          }      /*로그인 배경이다 */
      .modalContents {
        margin: 0 auto;
        width: 100%;
        position: relative;
        padding:30px 10px 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;

      }
      .modal__button {
          margin-top: 10px;
          width: 100%;
      }
      .modal__confirm {
        float: left;
        width: 49%;
        height: 3rem;
        background-color: #ccd4e0;
        border: 0;
        font-size: 1.5rem;
        color: #707070;
      }
      .modal__cancel {
        float: right;
        width: 49%;
        height: 3rem;
        background-color: #ccd4e0;
        border: 0;
        font-size: 1.5rem;
        color: #707070;
      }
            
/*===================================================*/

@media screen and (max-width: 1024px) {
    body, html {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        font-size: 11px;
    }
    .content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20rem;
    }
    .pagination {
        position: absolute;
        top:40rem;
    }
    .volunteer-view{
        width: 100%;
    }
    .select-region__dropdown {
        width: 35%;
    }
    .admin-view {
        width: 90%;
        /* margin-top: 8rem; */
        position: fixed;
        top: 45rem;
    }
    .input, .confirm, .confirm__button {
        width: 100%;
    }
    .select-function {
        width: 33%;
        height: 4rem;
    }
    .form__order { 
        width: 20%
    }
    .form__date {
        width: 35%;
    }
    .form__phone {
        width: 35%;
    }
    .detail-address {
        width: 95%;
    }
    .guide__button {
        display: none;
    }
    .nav__btn {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    body, html {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        font-size: 10px;
    }
    .content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20rem;
    }
    .select-region__dropdown {
        width: 40%;
    }
    .table-view tr > *:last-child {
        display:none;
    }
    .form__order {
        width: 25%;
    }
    .form__date {
        width: 37%;
    }
    .top-bar__bar {
        opacity: 1;
      }
}