<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .a{
            width : 100px;
            height:100px;
            border : solid 1px black;
        }

        .b{
            width: 30px;
            height:30px;
            border : solid 1px red;
        }
    </style>
</head>
<body>
    <div class="a">
        <div class="b"></div>
    </div>
    <script>
        document.querySelector(".b").addEventListener("click", (e)=>{
            console.log("dkdk")
            e.stopPropagation()
        })
        document.querySelector(".a").addEventListener("click", ()=>{
            console.log("parent")
        })
    </script>
</body>
</html>